<div class="row">
	<div class="col-lg-12">
		<div class="input-group" ng-controller="SearchBarCtrl as search">
			<span class="input-group-btn">
				<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					{{selectedRegion}}
					<span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" ng-Model="summoner.region">
					<li ng-repeat = "region in regions" ><a data-ng-click="dropDownSelectedItem(region)">{{region}}</a></li>
				  </ul>
				</div>
			</span>
		<input type="text" class="form-control" placeholder="Summoner Name" ng-model="summoner.name">
		<span class="input-group-btn">
			<button class="btn btn-primary" type="button" ng-click="submitSummoner(summoner)">Go!</button>
		</span>
      <p> {{info.id }}</p>

		</div>
	</div>
</div>
<br />
<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

