<div ng-controller="MatchCtrl as match">
	<h3>Blue Team</h3>
	<table>
		<tr>
			<th colspan="2">Summoner</th>
			<th>KDA</th>
			<th>Items</th>
			<th>CS</th>
			<th>Gold</th>
		</tr>
		<tr ng-repeat="n in [1,2,3,4,5]">
			<td class="champInfo">
				<img src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/champion/Malzahar.png" width="50">
				<img src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/spell/SummonerHeal.png" width="20">
				<img src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/spell/SummonerFlash.png" width="20">
			</td>
			<td class="summonerName">ahsomsid</td>
			<td class="kda">3/4/5</td>
			<td class="items">
				<img src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/item/3092.png" width="30">
				<img src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/item/3092.png" width="30">
				<img src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/item/3092.png" width="30">
				<img src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/item/3092.png" width="30">
				<img src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/item/3092.png" width="30">
				<img src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/item/3092.png" width="30">
			</td>
			<td class="cs">100</td>
			<td class="gold">19.5k</td>
		</tr>

	</table>

	<h3>Red Team</h3>
	<table>
		<tr>
			<th colspan="2">Summoner</th>
			<th>KDA</th>
			<th>Items</th>
			<th>CS</th>
			<th>Gold</th>
		</tr>
		<tr ng-repeat="n in [1,2,3,4,5]">
			<td class="champInfo">
				<img src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/champion/Pantheon.png" width="50">
				<img src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/spell/SummonerHeal.png" width="20">
				<img src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/spell/SummonerFlash.png" width="20">
			</td>
			<td class="summonerName">ahsomsid</td>
			<td class="kda">3/4/5</td>
			<td class="items">
				<img src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/item/3091.png" width="30">
				<img src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/item/3090.png" width="30">
				<img src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/item/3092.png" width="30">
				<img src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/item/3096.png" width="30">
				<img src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/item/3094.png" width="30">
				<img src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/item/3098.png" width="30">
			</td>
			<td class="cs">100</td>
			<td class="gold">19.5k</td>
		</tr>
	</table>
</div>
<div class="row">
	<h3>Total damage dealt by champion</h3>
	<div id="pieChart1"></div>
</div>
